<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo cálculo</title>
        <meta charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div align="center">
            <h1>Nuevo Cálculo</h1><br/>
            <form action="#" th:action="@{/save}" th:object="${triangle}" method="post">
                <table border="0" cellpadding="10">
                    <tr>
                        <td>Base del triángulo:</td>
                        <td><input type="text" th:field="*{base}" /></td>
                    </tr>
                    <tr>
                        <td>Altura del triángulo</td>
                        <td><input type="text" th:field="*{altura}" /></td>
                    </tr>	
                    <tr>
                        <td colspan="2"><button type="submit">Save</button></td>
                    </tr>
                </table>
            </form>
        </div>        
    </body>
</html>
