<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Página principal</title>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div align="center">
            <br><h1>Cálculos del triángulo</h1>
            <a href="new">Nuevo Cálculo</a>
            <br/><br/>
            <table border="1" cellpadding="10" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID del cálculo</th>
                        <th>Base</th>
                        <th>Altura</th>
                        <th>Perímetro</th>
                        <th>Área</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="triangleEntity : ${listTriangles}">
                        <td th:text="${triangleEntity.id}">ID del cálculo</td>
                        <td th:text="${triangleEntity.base}">Base</td>
                        <td th:text="${triangleEntity.altura}">Altura</td>
                        <td th:text="${triangleEntity.perimetro}">Perímetro</td>
                        <td th:text="${triangleEntity.area}">Área</td>
                        <td>
                            <a th:href="@{'/delete/' + ${triangleEntity.id}}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
